<ul class="menu-container mobile-primary-menu">
    <li class="current menu-item">
        <a class="menu-link" href="/#slider" data-href="#slider">
            <div>Inicio</div>
        </a>
    </li>
    <li class="menu-item"><a class="menu-link" href="/#story" data-href="#story">
            <div>Nosotros</div>
        </a>
    </li>
    <li class="menu-item">
        <a class="menu-link" href="/#products" data-href="#products">
            <div>Cervezas</div>
        </a>
    </li>
    <li class="menu-item">
        <a class="menu-link" href="/#contact" data-href="#contact" data-offset="20">
            <div>Contacto</div>
        </a>
    </li>
    <li class="menu-item">
        <a class="menu-link" href="/#delivery" data-href="#delivery" data-offset="20">
            <div>Delivery</div>
        </a>
    </li>
    <li class="menu-item">
        <a class="menu-link menu-link-space" href="/store" data-offset="20">
            <div>Tienda</div>
        </a>
    </li>
    <li class="menu-item"><a class="menu-link" href="/users/login" data-offset="20">
            <div>Ingresar</div>
        </a>
    </li>
</ul>