<nav class="primary-menu">

    <ul class="one-page-menu menu-container" data-easing="easeInOutExpo" data-speed="1250" data-offset="60">
        <li class="current menu-item">
            <a class="menu-link menu-link-space" href="/#slider" data-href="#slider">
                <div>Inicio</div>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link menu-link-space" href="/#story" data-href="#story">
                <div>Nosotros</div>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link menu-link-space" href="/#products" data-href="#products">
                <div>Cervezas</div>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link menu-link-space" href="/#contact" data-href="#contact" data-offset="20">
                <div>Contacto</div>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link menu-link-space" href="/store" data-offset="20">
                <div>Tienda</div>
            </a>
        </li>
        <% if (!current_user) { %>
            <li class="menu-item">
                <i type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"class="button button-small header-button button-rounded button-reveal d-inline-flex tright font-weight-semibold icon-user dropdown-toggle dropdown-login"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/users/login" id="login-button"class="button button-small button-reveal d-inline-flex tright">
                        <i class="fas fa-id-badge"></i><span style="margin-left: 16px;">Ingresa</span></a>
                    <a href="/users/register" id="login-button"class="button button-small button-reveal d-inline-flex tright">
                        <i class="fas fa-address-card"></i><span style="margin-left: 10px;">Registrate</span></a>
                    <a href="#" id="login-button"class="button button-small d-inline-flex tright">
                        <span style="margin-left: 24px;">Ayuda <i class="far fa-question-circle"></i></span></a>
                </div>
            </li>
        <% } %>
        <% if (current_user){ 
              if (current_user.admin == true) { %>
                <li class="menu-item">
                    <a href="/products/create">
                    <i class="button button-small header-button button-rounded button-reveal d-inline-flex tright font-weight-semibold icon-beer">+</i>
                    </a>
                </li>
            <% } %>
            <li class="menu-item">
                <i type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"class="button button-small header-button button-rounded button-reveal d-inline-flex tright font-weight-semibold icon-user dropdown-toggle dropdown-login"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/users/profile" id="login-button"class="button button-small d-inline-flex tright">
                    <span style="margin-left: 27px;">Mi perfil<i class="fas fa-user-circle"></i></span></a>
                    <a href="#" id="login-button"class="button button-small d-inline-flex tright">
                    <span style="margin-left: 37px;">Ayuda <i class="far fa-question-circle"></i></span></a>
                    <a href="#" id="login-button"class="button button-small d-inline-flex tright">
                    <span style="margin-left: 4px;">Configuración <i class="fas fa-cog"></i></span></a>
                    <form class="m-0" action="/users/destroy-session?_method=DELETE" method="POST">
                        <button type="submit" id="login-button" class="button button-small button-reveal d-inline-flex tright bg-logout">
                            <i class="icon-line-arrow-right"></i><span style="margin-left: 12px;">Cerrar Sesión</span></button>
                    </form>
                </div>
            </li>
        <% } %>
    </ul>

    <%- include('./mobileNavigation') %>

</nav>