<div id="side-panel" class="dark" style="background: #101010 url('/images/bg/section-2.jpg') repeat center center;">
    <div class="d-flex justify-content-between">
        <div class="ml-2 mt-2 d-inline-flex align-items-center">
            <span class="font-weight-bold mr-2">CARRITO</span>
            <span class="cart-counter">2</span>
        </div>
        <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i
                    class="icon-line2-close mr-2 mt-2"></i></a></div>
        </div class="mb-5">
        <hr>
        <h3 class="font-secondary ml-2">Productos Seleccionados</h3>
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="cart-panel-product d-flex align-items-center">
                <div class="w-25">
                    <img class="cart-img-animation" src="/images/product/bottle_02.png" width="25" />
                </div>
                <div class="w-75 d-flex flex-column justify-content-center">
                    <span class="cart-panel-product-title"><a href="/productDetails">Mild Lager Beer</a></span>
                    <span class="cart-panel-product-desc">ABV 6,5% | IBU 60 | OG 1.104</span>
                    <span class="cart-panel-product-price">2 x $500,00</span>
                </div>
            </div>
            <div class="cart-panel-product d-flex align-items-center">
                <div class="w-25">
                    <img class="cart-img-animation" src="/images/product/bottle_03.png" width="25" />
                </div>
                <div class="w-75 d-flex flex-column justify-content-center">
                    <span class="cart-panel-product-title"><a href="/productDetails">Mild Lager Beer</a></span>
                    <span class="cart-panel-product-desc">ABV 6,5% | IBU 60 | OG 1.104</span>
                    <span class="cart-panel-product-price">2 x $500,00</span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center cart-panel-footer w-100">

            <span class="cart-panel-total">Subtotal: $2.000,00</span>
            <div class="d-flex">
                <a href="/store/productCart" class="button text-center header-button button-rounded button-reveal w-100 tright">
                    <i class="icon-line-shopping-cart"></i><span>Carrito</span></a>
                <a href="/store/checkout" class="button text-center header-button button-rounded button-reveal w-100 tright ">
                    <i class="icon-line-arrow-right"></i><span>Comprar</span></a>
            </div>
        </div>
    </div>
</div>