/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.full-width {
	width: 100%;
}

.card-header{
	background-color: crimson;
}

.card.form{
	display: block;
	background-color: #504949;
	width: 500px;
	margin:auto;
	margin-top: 200px;
	border-radius: 20px;
	height: auto;
}

.white{
	color:white;
}

.twitter{
	background-color: #00ACEE;
	color: white;
}

.facebook{
	background-color:#3b5998;
	color: white;
}

