.poppins{
	font-family: 'Poppins', sans-serif !important ;  
}

#register-boxes{
	display:flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

#card-one{
	display: block;
	background-color: #141313 !important;
	width:450px;
	border-radius: 15px;
	height: auto;
	margin:100px;
}

.card.form.b{
	display: flex;
	background-color: #141313 !important;
	width: 430px;
	border-radius: 15px;
	height: fit-content;
	padding: 5px 10px;
	margin-top: 168px !important;
}

#p-card-two{
	display: block;
    margin: 0px 25px;
	margin-top: -18px;
	margin-bottom: 2px;
    text-align: justify;
    color: rgb(199, 184, 184);
    font-size: 8pt;
}
.input-group-prepend-s span{
	display: block;
	width: 47px;
	background-color: darkgoldenrod;
	color: rgb(0, 0, 0);
	border:0 !important;
	text-align: center;
	height: 38px;
	border-radius: 2px;
}
#reg-title{
	display: flex;
	justify-content: center;
	border-bottom: 2px solid darkgoldenrod;
	color: white;
}

#reg-list{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	color:  rgb(199, 184, 184);
}

.gold{
	color:darkgoldenrod;
	font-weight: bold !important;
}

.twitter{
	background-color: #00ACEE;
	color: white;
}

.facebook{
	background-color:#3b5998;
	color: white;
}

.back-grey{
	background-color: #1c1c1f;
}

.c-white{
	color:white;
}

@media (max-width:1072px){
	.card.form.b{
		margin-top: 10px !important;
		margin-bottom: 50px;
	}
}