/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/
@media (max-width: 667px) {
  #logo img {
    height: 80px!important;
  }
}

/* ----------------------------------------------------------------
	Top Header
-----------------------------------------------------------------*/
.top-header {
  background-color: #101010;
}
.top-header-buttom {
  border: 1px solid #fff;
  font-size: 14px;
  padding: 4px;
  border-radius: 5px;
  color: #fff!important;
}
.top-header-buttom:hover {
  color: #FFC429!important;
  border: 1px solid #FFC429;
}
.header-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding-left: 16px!important;
    padding-right: 16px!important;
}
.menu-link-space {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 667px) {
  .button.button-reveal.button-small {
      padding-left: 10px;
      padding-right: 10px;
  }
}

/* ----------------------------------------------------------------
	Font styles
-----------------------------------------------------------------*/

.white-color {
  color: #fff!important;
}

.white-link {
  color: #fff;
}
.white-link:hover {
  color: #FFC429;
}

/* ----------------------------------------------------------------
	Home
-----------------------------------------------------------------*/

.image-cat-position {
  right: 5%!important;
}

.product-bottle {
  display: flex;
  justify-content: center;
}

.img-bottle {
  width: 70px!important;
}

.label-hidden {
  display: none;
}

.tab-nav li a {
    color: #fff!important;
}

/* ----------------------------------------------------------------
	Store
-----------------------------------------------------------------*/

.dark-card {
  background-color: #161616!important;
}

.dark-background {
  background-color: #101010!important;
}

.link-grid {
    color: #fff!important;
}

.cart-counter {
  border: 1px solid #FFC429;
  border-radius: 50%;
  background-color: #FFC429;
  color: #fff;
  height: 25px;
  width: 25px;
  padding-left: 7px;
  font-weight: bold;
}

.cart-panel-product {
  padding: 1rem;
  border: 1px solid #e1e1e1;
  margin: .5rem;
  border-radius: 5px;
}

.cart-panel-product-title {
  text-align: center;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
.cart-panel-product-desc {
  text-align: center;
  font-size: 12px;
}
.cart-panel-product-price {
  width: 100%;
  text-align: center;
  border: 1px solid #FFC429;
  border-radius: 4px;
  background-color: #FFC429;
  color: #fff;
  font-weight: 600;
}
.cart-panel-footer {
  position: absolute;  
  bottom: 0;
    
}
.cart-panel-total {
  text-align: center;
  font-size: 0.875rem;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #fff;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: #FFC429;
}
.cart-img-animation:hover {
  transform: rotateX(150deg);
}

#dark-content {
  background-color: #101010;
}

.br-4 {
  border-radius: 4px;
}
.br-5 {
  border-radius: 5px;
}

.w-33 {
  width: 33%;
}


/* ----------------------------------------------------------------
	Register Page
-----------------------------------------------------------------*/

#register-boxes{
	display:flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

#card-one{
	display: block;
	background-color: #141313 !important;
	width:450px;
	border-radius: 15px;
	height: auto;
	margin:100px;
}

.card.form.b{
	display: flex;
	background-color: #141313 !important;
	width: 430px;
	border-radius: 15px;
	height: fit-content;
	padding: 5px 10px;
	margin-top: 168px !important;
}

#p-card-two{
	display: block;
    margin: 0px 25px;
	margin-top: -18px;
	margin-bottom: 2px;
    text-align: justify;
    color: rgb(199, 184, 184);
    font-size: 8pt;
}
.input-group-prepend-s span{
	display: block;
	width: 47px;
	background-color: darkgoldenrod;
	color: rgb(0, 0, 0);
	border:0 !important;
	text-align: center;
	height: 38px;
	border-radius: 2px;
}
#reg-title{
	display: flex;
	justify-content: center;
	border-bottom: 2px solid darkgoldenrod;
	color: white;
}

#reg-list{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	color:  rgb(199, 184, 184);
}

.gold{
	color:darkgoldenrod;
	font-weight: bold !important;
}

.twitter{
	background-color: #00ACEE;
	color: white;
}

.facebook{
	background-color:#3b5998;
	color: white;
}

.back-grey{
	background-color: #1c1c1f;
}

.c-white{
	color:white;
}

@media (max-width:1072px){
	.card.form.b{
		margin-top: 10px !important;
		margin-bottom: 50px;
	}
}

/* ----------------------------------------------------------------
	login page
-----------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../images/beer/sign-in2.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(180, 109, 50, 0.3)  !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}