/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/
@media (max-width: 667px) {
  #logo img {
    height: 80px!important;
  }
}

/* ----------------------------------------------------------------
	Top Header
-----------------------------------------------------------------*/
.top-header {
  background-color: #101010;
}
.top-header-buttom {
  border: 1px solid #fff;
  font-size: 14px;
  padding: 4px;
  border-radius: 5px;
  color: #fff!important;
}
.top-header-buttom:hover {
  color: #FFC429!important;
  border: 1px solid #FFC429;
}
.header-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding-left: 16px!important;
    padding-right: 16px!important;
}
.menu-link-space {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 667px) {
  .button.button-reveal.button-small {
      padding-left: 10px;
      padding-right: 10px;
  }
}

/* ----------------------------------------------------------------
	Background Sections styles
-----------------------------------------------------------------*/

.story-page-section {
    background: linear-gradient(to bottom, #101010, transparent, #101010), url('/images/bg/story-bg.jpg') no-repeat center top / cover;
}

.products-page-section {
    background: linear-gradient(to bottom, #101010, rgba(16,16,16,0.3),#101010), url('/images/bg/section-5.jpg') no-repeat center top / cover;
}

.delivery-page-section {
    padding: 60px 0 120px; 
    background: linear-gradient(to bottom, #101010, transparent, #101010), url('/images/bg/story-bg.jpg') no-repeat center top / cover;;
}

.contact-page-section {
    background: linear-gradient(to bottom, #101010, rgba(16,16,16,0.3),#101010), url('/images/bg/section-4.jpg') no-repeat center top / cover;
}

.checkout-page-title {
    background-image: url('/images/sliders/slider-03.jpg'); 
    background-size: cover; 
    padding: 50px 0;
}

.product-page-title {
    background-image: url('/images/sliders/slider-03.jpg'); 
    background-size: cover; 
    padding: 50px 0;
}

.cart-page-title {
    background-image: url('/images/sliders/slider-01.jpg'); 
    background-size: cover; padding: 50px 0;
}

.store-page-title {
    background-image: url('/images/others/blog_promo_01-1120x720.jpg'); 
    background-size: cover; 
    padding: 120px 0!important;
}

.login-page-section {
    background: url('/images/sliders/slider-bg.jpg') center center no-repeat; 
    background-size: cover;
}

.register-page-section {
    background: linear-gradient(to bottom, #101010, rgba(16,16,16,0.3),#101010), url('/images/bg/section-5.jpg') no-repeat center top / cover;
}


/* ----------------------------------------------------------------
	Font styles
-----------------------------------------------------------------*/

.white-color {
  color: #fff!important;
}

.white-link {
  color: #fff;
}
.white-link:hover {
  color: #FFC429;
}

/* ----------------------------------------------------------------
	Home
-----------------------------------------------------------------*/

.image-cat-position {
  right: 5%!important;
}

.product-bottle {
  display: flex;
  justify-content: center;
}

.img-bottle {
  width: 70px!important;
}

.label-hidden {
  display: none;
}

.tab-nav li a {
    color: #fff!important;
}

/* ----------------------------------------------------------------
	Store
-----------------------------------------------------------------*/

.dark-card {
  background-color: #161616!important;
}

.dark-background {
  background-color: #101010!important;
}

.link-grid {
    color: #fff!important;
}

.cart-counter {
  border: 1px solid #FFC429;
  border-radius: 50%;
  background-color: #FFC429;
  color: #fff;
  height: 25px;
  width: 25px;
  padding-left: 7px;
  font-weight: bold;
}

.cart-panel-product {
  padding: 1rem;
  border: 1px solid #e1e1e1;
  margin: .5rem;
  border-radius: 5px;
}

.cart-panel-product-title {
  text-align: center;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
.cart-panel-product-desc {
  text-align: center;
  font-size: 12px;
}
.cart-panel-product-price {
  width: 100%;
  text-align: center;
  border: 1px solid #FFC429;
  border-radius: 4px;
  background-color: #FFC429;
  color: #fff;
  font-weight: 600;
}
.cart-panel-footer {
  position: absolute;  
  bottom: 0;
    
}
.cart-panel-total {
  text-align: center;
  font-size: 0.875rem;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #fff;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: #FFC429;
}
.cart-img-animation:hover {
  transform: rotateX(150deg);
}

#dark-content {
  background-color: #101010;
}

.br-4 {
  border-radius: 4px;
}
.br-5 {
  border-radius: 5px;
}

.w-33 {
  width: 33%;
}


/* ----------------------------------------------------------------
	Register Page
-----------------------------------------------------------------*/
.bg-img-register{
  background-image: url("/images/register/beer-bg2.jpg");
  background-size: 100%;
}

#register-boxes{
	display:flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

#card-one{
	display: block;
	background-color: #101010 !important;
	width:450px;
	border-radius: 15px;
	height: auto;
	margin:100px;
}

.card.form.b{
	display: flex;
	background-color: #101010 !important;
	width: 430px;
	border-radius: 15px;
	height: fit-content;
	padding: 5px 10px;
	margin-top: 168px !important;
}

#p-card-two{
	display: block;
    margin: 0px 25px;
    margin-top: -27px;
    margin-bottom: 3px;
    text-align: justify;
    color: rgb(199, 184, 184);
    font-size: 8pt;
}
.input-group-prepend-s span{
	display: block;
	width: 47px;
	background-color:#805f10 !important;
	color: rgb(0, 0, 0) !important;
	border:0 !important;
	text-align: center;
	height: 38px;
  border-radius: 19px;
  margin-right: 4px;
}

.border-soft{
  background-color: rgba(0,0,0,0.2);
  border-color: rgba(255,255,255,0.15);
}

.dark .form-control:not(.not-dark), .dark .sm-form-control:not(.not-dark) {
  color: #805f10 !important;
  background-color: rgba(0,0,0,0.2);
  border-color: rgba(255,255,255,0.15);
}

#reg-title{
	display: flex;
	justify-content: center;
	border-bottom: 2px solid darkgoldenrod;
  color: white;
  font-size:17px;
  font-weight: 500;
}

.bord-b{
  border-bottom: 2px solid rgb(199, 184, 184);;
}

.darkgoldenrod{
  color: darkgoldenrod!important;
  font-weight: bold;
}

.form-control{
  border-radius: 40px !important;
}

#select-number{
  border-radius: 19px;
  margin-right: 2px;
}

#reg-list{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	color:  rgb(199, 184, 184);
}

.gold{
	color:#805f10 !important;
	font-weight: bold !important;
}


.twitter{
	background-color: #00ACEE;
	color: white;
}

.facebook{
	background-color:#3b5998;
	color: white;
}

.back-grey{
	background-color: #1c1c1f;
}

.c-white{
	color:white;
}

.c-grey{
  color: rgb(199, 184, 184);
  font-weight: bold;
}

p{
  margin-bottom: 20px;
}


#help-button{
  right: 31px;
  bottom: 84px;
  position: fixed;
  font-size: 27px;
  border-radius: 14px;
  width: 39px;
  border: 0px;
  background-color: #906a0c;
  color:black;
}

#help-chat{
  right: 100px;
  bottom: 84px;
  position: fixed;
  height: 400px;
  width: 300px;
	border-radius: 15px;
  padding: 5px 10px;
  background-color:#ece9e9 !important;
  flex-direction: column;
  justify-content: space-between;
}

.border-b-grey{
  border-bottom: 1px solid rgb(150, 150, 150);
}

#message-holder{
  border-radius:10px;
  margin-bottom:5px;
  font-size:14px;
  padding-left:5px;
  border: 1.8px solid grey;
  width: 86%;
  margin-left: 10px;
}

#send-icon{
  width: fit-content;
  margin-left: 4px;
  margin-top: 4px;
}

@media (max-width:1072px){
	.card.form.b{
		margin-top: 10px !important;
		margin-bottom: 50px;
  }
  .bg-img-register{
    background-size: 137%
  }
}

@media (max-width:800px){
  .bg-img-register{
    background-size: 186%
  }
}

@media (max-width:580px){
  .bg-img-register{
    background-size: 200%
  }
  #card-one > article{
    width: 387px;
  }
}

 /* ----------------------------------------------------------------
	Confirmation page
-----------------------------------------------------------------*/
.bg-img-conf{
  background-image: url("/images/register/beer-bg3.jpg");
  background-size: 100%;
}
.w-51{
  width: 51%;
}

.border-rad{
  border-radius: 12px;
}

.bg-black{
  background-color: #161616;
}

#input-code{
  border-radius:12px;
  border:0px;
  background-color: #272727;
  color: white;
}

#input-code2{
  border-radius:12px;
  border:0px;
  background-color: #272727;
  color:#808080;
  width: 19%;
}

#input-code3{
  border-radius:12px;
  border:0px;
  background-color: #543f0b;
  color:#000000;
  width: 25%;
}
.c-white-d2{
  color: #d2d2d2;
}
.m-con{
  margin-bottom: 150px;
  margin-top:100px
}

.p-box{
  font-size: 14px;
}

@media (max-width:1072px){
  .bg-img-conf{
    background-size: 137%
  }
}

@media (max-width:800px){
  .bg-img-conf{
    background-size: 186%
  }
}

@media (max-width:650px){
  .bg-img-conf{
    background-size: 200%
  }
  section >.text-center >.container{
    width:350px;
  }
}

@media (max-width:500px){
  .bg-img-conf{
    background-size: 290%
  }
}