:root {

/* Colors: */
--black-color-1e1e1e: #1E1E1E;
--yellow-color-ffc429: #FFC429;
--green-color-21694d: #21694D;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-272727: #272727;
--unnamed-color-ffffff79: #FFFFFF;
--unnamed-color-010101: #010101;
--unnamed-color-000000: #000000;
--unnamed-color-ffffff1a: #FFFFFF;
--unnamed-color-bdbdbd: #BDBDBD;
--unnamed-color-70707000: #707070;
--unnamed-color-363636: #363636;
--unnamed-color-474747: #474747;
--unnamed-color-262626: #262626;
--unnamed-color-00000055: #000000;
--unnamed-color-000000a2: #000000;
--unnamed-color-e7e7e9: #E7E7E9;
--unnamed-color-f6f6f600: #F6F6F6;
--unnamed-color-a8a8a8: #A8A8A8;
--unnamed-color-2c2c2c: #2C2C2C;
--unnamed-color-0c0c0e: #0C0C0E;
--unnamed-color-424242: #424242;
--unnamed-color-888888: #888888;
--unnamed-color-aa9f9f: #AA9F9F;
--unnamed-color-fafafa: #FAFAFA;
--unnamed-color-060b2e: #060B2E;
--unnamed-color-252525: #252525;
--unnamed-color-93762979: #937629;
}