<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
	<%- include('../layout/head', { title:"Ingresar" }) %>
</head>

<body class="stretched">

	<!--Cart Panel -->
	<%- include('../layout/panelCart') %>

	<!-- Header -->
	<header id="header" class="dark" data-sticky-class="dark-color" data-sticky-shrink-offset="0"
		data-mobile-sticky="true">
		<%- include('../layout/header') %>
	</header>

		<!-- Content -->
		<section id="content">
			<div class="content-wrap py-0">
		
				<div class="login-page-section section move-bg min-vh-100 w-100 position-absolute m-0 p-0">
				</div>
		
				<div class="section bg-transparent min-vh-100 d-flex m-0 p-0">
					<div class="vertical-middle">
						<div class="container-fluid py-5 py-lg-0 mx-auto">
		
							<div class="card mx-auto dark rounded border border-dark shadow-lg"
								style="max-width: 540px; background-color: rgba(30,30,30,0.9)">
								<div class="card-body mx-auto py-5" style="max-width: 70%;">
		
									<a href="#"
										class="button button-large button-rounded btn-block si-colored si-facebook nott font-weight-normal ls0 center m-0"><i
											class="icon-facebook-sign"></i> Ingresa con Facebook</a>
		
									<div class="divider divider-center"><span class="position-relative"
											style="top: -2px">O</span></div>
		
									<form id="login-form" name="login-form" class="mb-0 row" action="#" method="post">
		
										<div class="col-12">
											<input type="text" id="login-form-username" name="login-form-username" value=""
												class="form-control not-dark" placeholder="Username" />
										</div>
		
										<div class="col-12 mt-4">
											<input type="password" id="login-form-password" name="login-form-password" value=""
												class="form-control not-dark" placeholder="Password" />
										</div>
		
										<div class="col-12">
											<a href="#" class="float-right font-weight-light mt-2">Olvidaste tu Contraseña?</a>
										</div>
		
										<div class="col-12 mt-4">
											<button class="button button-rounded btn-block m-0" id="login-form-submit"
												name="login-form-submit" value="login">Ingresar</button>
										</div>
									</form>
								</div>
								<div class="card-footer py-4 center">
									<p class="mb-0">Aún no tienes un cuenta? <a href="/users/register"><u>Crearla</u></a></p>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
		
			</div>
		</section>

	<!-- Footer -->
	<%- include('../layout/footer') %>
</body>
	
</html>